<ion-view view-title="JUEGO">
  <ion-content class="con3">
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends" >
        SALVAR EL PLANETA <span class="glyphicon glyphicon-globe"></span>
    </ion-toggle>
    </ion-list>
    <div id="divContenedor">
		<ul></ul>
		<div id="divInicio">
			<div id="divInferior" >
				<p>
					Juego de memoria, Encuentra las imgenes pares<br>
				</p>
				<input type="button" value="Jugar" id="btnJugar" >

			</div>
		</div>
		<div id="divContador">
			<p>Haga clic en el bot&oacute;n Jugar para iniciar xD</p>
		</div>
	</div>
  </ion-content>
</ion-view>
